<div class="avatar">
  <img
    ngSrc="assets/icons/user.svg"
    alt="user"
    height="150"
    width="150"
    priority
  />
</div>

<ul class="list">
  <li class="list-item">
    <span>Username:</span>
    <span>{{ user().username }}</span>
  </li>
  <li class="list-item">
    <span>Phone:</span>
    <span>{{ user().phone }}</span>
  </li>
  <li class="list-item">
    <span>Email:</span>
    <span>{{ user().email }}</span>
  </li>
  <li class="list-item">
    <span>Website:</span>
    <span>{{ user().website }}</span>
  </li>
</ul>
